extends ../shared/template

block less
  link(rel='stylesheet', href='/less/products.css')

block content
  script.
    var productData = {};
    productData.name = '#{product.name}';
    productData.amount = #{product.cost};
  #headerspace
  #mainContent
    .productContainer
      #columnA
        #picture(style='background-image: url("'+product.url+'")')
      #columnB
        #name= product.name
        #cost= '$' + product.cost
        #longDesc= product.longDesc
      .clear

block scripts
  script(src='/js/source/productshow.js')
